<!doctype html>
<style>



</style>

<html>
<head>
    <%-include('../Partials/Homehead');%>
</head>
<body>
<header>
    <%-include('../Partials/header');%>
</header>
<!--<h2><%=title%></h2>-->
<!--<br>-->
<!--<p><%=temp%></p>-->
<%-include('../Partials/Team_details_header');%>
</body>
</html>